.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .slick-center{
 transform: scale(1.15);
}
.slick-slide {
  margin: 0 0px;
} */
/* the parent */
/* .slick-list {
  margin: 10px -90px 10px -40px;
  
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 800px) and (min-width: 300px) {
 
  /* the parent */
  /* .slick-list {
    margin: 0px 25%;
    transform: scale(1.5);
  } */
}
